WEATHER_DATA_API_KEY=<공공데이터포털_인증키>
WEATHER_DATA_FORECAST_BASE_URL=https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst
WEATHER_DATA_NOWCAST_BASE_URL=https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst
KAKAO_REST_API_KEY=<Kakao_REST_API_키>
KAKAO_GEOCODER_BASE_URL=https://dapi.kakao.com/v2/local/geo/coord2address.json